*stop_times.txt filter=lfs diff=lfs merge=lfs -text
*eqasim-legs.csv filter=lfs diff=lfs merge=lfs -text
*eqasim_legs.csv filter=lfs diff=lfs merge=lfs -text
simulation_analysis/gpe_output/with_shuttle/* filter=lfs diff=lfs merge=lfs -text
simulation_analysis/gpe_output/routing_pt_june/* filter=lfs diff=lfs merge=lfs -text
simulation_analysis/gpe_output/routing_pt/eqasim_trips.csv filter=lfs diff=lfs merge=lfs -text
simulation_analysis/gpe_output/1_percent/eqasim_trips.csv filter=lfs diff=lfs merge=lfs -text
simulation_analysis/gpe_output/1_percent_june/eqasim_pt.csv filter=lfs diff=lfs merge=lfs -text
implementation_gtfs/GTFS_versions/GTFS_v1/graph.obj filter=lfs diff=lfs merge=lfs -text
